body
{
    background-color: rgb(128, 0, 247);
}
.container
{
    display: flex;
    padding: 50px;
}
.box1
{
    width: 50%;
    height: 600px;
    background-color: white;
    
    

}
.box2
{
    width: 50%;
    height: 600px;
   background-image:linear-gradient(to bottom, #ff007d38, #0039ffe0  ), url(image/OIP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.content2>h2
{
    text-align: center;
    color: white;
    margin-top: 250px;
    font-size: 50px;
}
.content2>p
{
    text-align: center;
    color: white;
    margin-top: -35px;
    font-size: 20px;
}
.form-group
{
    margin-top: 10px;
}
label
{
    color:black;
    font-size: 1.5rem;

font-weight: 900;}
.input-group
{
    width:100%;
}
.form-control
{
    width:100%;
    background-color:#ffffff00 ;
    border-top: none;
    border-right: none;
    border-left: none; 
    border-bottom: 3px solid black; 
    box-sizing: border-box;
}
.box1>h2
{
    margin-top: 70px;
    padding: 20px;
    font-size: 40px;
}
form
{
    padding: 20px;
}
button
{
    width: 95%;
    height: 50px;
    margin-left: 15px;
    background-color: rgb(127, 12, 235);
    border: 0;
    border-radius: 10px;
    
    
    }
    button>a
    {
        text-decoration: none;
        color: white;
        font-size: 25px;
    }
    button:hover
    {
        width: 95%;
        height: 50px;
        margin-left: 15px;
        background-color: rgb(127, 12, 235);
        border: 0;
        border-radius: 10px;
        color: blue;
          
    }
    p
    {
        text-align: center;
        font-size: 25px;
    }
    
    span
    {
        color:rgb(127, 12, 235) ;
    }
.box1>form>p
{
   font-size: 20px; 
   color:rgb(127, 12, 235);
   text-align: left;
}
.box3
{
    width: 7%;
    height: 5px;
    background-color:rgb(127, 12, 235) ;
    margin-left: 20px;
    margin-top: -55px;
}

